html
  head
    link(rel='stylesheet' type='text/css' href='app.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet')
    meta(name="viewport" content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
  body
    .container
      .divider
      .section
        h5 Appweb TTdigital
        p Inicio de construcción
      .divider
      .section
        h5 Materializecss
        p Verificado
  script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
